<div class="d-flex" style="box-sizing:border-box;">
    <div class="side" >
        <button class="btn btn-secondary btn-md m-1" [ngClass]="{'btn-danger':title ==='Réponse1'}" (click)="openQuestion('Réponse1',legend,positif1,negatif1)">Réponse1</button>
        
            <button class="btn btn-secondary btn-md m-1" [ngClass]="{'btn-danger':title ==='Réponse2'}" (click)="openQuestion('Réponse2',legend,positif2,negatif2)">Réponse2</button>
            <button class="btn btn-secondary btn-md m-1" [ngClass]="{'btn-danger':title ==='Réponse3'}" (click)="openQuestion('Réponse3',legend,positif3,negatif3)">Réponse3</button>
            <button class="btn btn-secondary btn-md m-1" [ngClass]="{'btn-danger':title ==='Réponse4'}" (click)="openQuestion('Réponse4',legend,positif4,negatif4)">Réponse4</button>
            <button class="btn btn-secondary btn-md m-1" [ngClass]="{'btn-danger':title ==='Réponse5'}" (click)="openQuestion('Réponse5',legend,positif5,negatif5)">Réponse5</button>
            <button class="btn btn-secondary btn-md m-1" [ngClass]="{'btn-danger':title ==='Commentaire'}" (click)="openQuestion('Commentaire',legend,positif6,negatif6)">Commentaire</button>
        
        
    </div>
    <div echarts [options]="scatter" *ngIf="isChart" style="width:90%; margin-left:10%; margin-top:60px;height: 600px;" class="p-3">
    </div>
    <div *ngIf="!isChart" class="lorem">
        <div>
            <img src="./assets/cover.png" width="800" alt="" class="d-block m-auto">
        </div>
        <div>
            <h2 style="font-size: 20px; text-shadow: 2px 2px 4px #818181; " class="text-center">Cliquez sur l'un des boutons situés à gauche de la page.</h2>
            <h2 style="font-size: 20px; text-shadow: 2px 2px 4px #818181; " class="text-center">En suite, un graph de type scatter va apparaitre selon la réponse choisie.</h2>
        </div>
    </div>
</div>