<nav class="navbar navbar-expand-lg ">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/">SONDAGE</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center justify-content-center">
				<!--
					<li class="nav-item">
						<a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
					</li>
				-->
				<li class="nav-item">
					<a class="nav-link" routerLink="open" routerLinkActive="active">Questions ouvertes</a>
				</li>
				<!--
					<li class="nav-item">
						<a class="nav-link"  routerLink="many-module" routerLinkActive="active">Questions fermées plusieurs modules</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  routerLink="one-module" routerLinkActive="active">Questions fermées un modules</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  routerLink="many-reponse" routerLinkActive="active">Questions fermées plusieures réponses</a>
					</li>
				-->
				<li class="nav-item">
					<a class="nav-link"  routerLink="rubrique1" routerLinkActive="active">Rubrique1</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  routerLink="rubrique2" routerLinkActive="active">Rubrique2</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  routerLink="rubrique3" routerLinkActive="active">Rubrique3</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  routerLink="rubrique4" routerLinkActive="active">Rubrique4</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  routerLink="rubrique5" routerLinkActive="active">Rubrique5</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  routerLink="rubrique6" routerLinkActive="active">Rubrique6</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  routerLink="rubrique7" routerLinkActive="active">Rubrique7</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  routerLink="rubrique8" routerLinkActive="active">Rubrique8</a>
				</li>
				<!--
					<li class="dropdown nav-item">
						<a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
							Questions fermées
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" routerLink="many-module" routerLinkActive="active">Questions fermées / plusieurs modules</a>
							<a class="dropdown-item" routerLink="one-module" routerLinkActive="active">Questions fermées / un modules</a>
							<a class="dropdown-item" routerLink="many-reponse" routerLinkActive="active">Questions fermées / plusieures réponses</a>
						</div>
					</li>
				-->

				
			</ul>
		</div>

	</div>
</nav>
<div style="margin-top: 56px;">
	<app-login *ngIf="!auth.isAuthenticated()"></app-login>
	<router-outlet *ngIf="auth.isAuthenticated()"></router-outlet>
</div>